doctype html 
//-Remeber to include the '/' at the start of the routes in this situation otherwise we will get an error for the css and images
html 
    head 
        meta(charset="UTF-8") 
        meta(name='viewport' content='width=device-width', initial-scale='1.0') 
        link(rel='stylesheet' href='/css/style.css')
        link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
        link(rel='stylesheet' href="https://fonts.googleapis.com/css?family=Lato:300,300i,700")
        title Natours | #{title} 

    body
        // HEADER
        include _header


        //CONTENT
        block content              


        //FOOTER
        include _footer









    

